<section id="article" class="article bg-image">
  <div class="article">
    <div class="row">
      <div class="col">
        <h1 class="display-5 article-title">Asix News</h1>
        <p class="lead mb-2 article-subtitle">Everyday news are asix</p>
        <p class="lead mb-4">Ngga mau ketinggalan berita ASIX setiap hari? Langganan sekarang juga!</p>
        <input type="text" class="form-control" placeholder="email@asix.com">
        <button class="btn btn-primary">Langganan</button>
      </div>
      <div class="col pict">
        <img src="/assets/images/snips.webp">
      </div>
    </div>
    <p class="lead mb-4 article-subtitle">Article Asix</p>
    <div class="row">
        <div class="col thumbnails">
            <img src="/assets/images/article1.jpg">
            <h4 class="mt-2"><a href="" class="text-decoration-none">BBRI Buyback Saham Rp3 T saat BUMN Lain Rights Issue</a></h4>
        </div>
        <div class="col thumbnails">
          <img src="/assets/images/article2.jpg">
          <h4 class="mt-2"><a href="" class="text-decoration-none">Key Takeaway Emiten Talk Arwana Citramulia - $ARNA</a></h4>
        </div>
        <div class="col thumbnails">
          <img src="/assets/images/article3.jpg">
          <h4 class="mt-2"><a href="" class="text-decoration-none">Analisis Sektor Consumer Goods (FMCG): ICBP, INDF, MYOR, UNVR, KLBF, SIDO</a></h4>
      </div>
    </div>
  </div>
</section>