<section id="about">
  <h1>Tentang Kami</h1>
  <div class="row-about d-flex align-items-center justify-content-center">
    <div class="container-about left">
      <img src="/assets/images/asix-logo2.png" alt="" />
    </div>
    <div class="container-about right">
      <p>Hello, Dear friends, Welcome to Asix News also, we are happy you want to know something more about our site.
      <br /><br />
      So, basically, nowadays people are more dependent on online products and services that's why we also, take forward a step to help you. Our first wish is to provide you with a better solution to solve your problem. So, kindly if you don't get any solution then mention it in the comment section. Also, we are trying to provide fresh & latest content that provides you ideas about all updated information that's happening in the world. In the below section you can get more ideas about our site like our website category and content category.</p>
    </div>
  </div>
  <h3>
    We Provide You with the Best Solution
  </h3>
  <div class="row-about">
    <div class="container-about left">
      <p>If you have additional questions or require more information about our About Us Page, do not hesitate to contact us through email at (Email Id)There are millions of websites created every day, also, there is much fake content spread on the internet.So, Our main goal is to provide you with 100% Original and Safe content that provides you a great and better experience on the world wide web.We mainly focus on our service so and improving it regularly to provide a better user experience to all users.We are mainly focused on the Investment News category so, we provide news related content if you are interested in the News category then you can visit daily to get more latest information.
      <br /><br />
      Finally, this is our complete about us page about details are showing what is the motive to create Asix News. If you want to contact us then you can email us at <a href="mailto:info@asix.news">info@asix.news</a> also, you can contact us by our contact us form.</p>
    </div>
    <div class="container-about right">
      <img src="/assets/images/asix-image.jpg" width="500px">
    </div>
  </div>
</section>