<section id="partner" class="partner bg-image">
  <div class="partner">
    <div class="text-center">
      <h2 class="title">Our Partners</h2>
    </div>
    <div class="row">
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-1.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-2.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-3.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-4.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-5.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-6.svg" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-7.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-8.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-9.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-10.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-11.svg" />
      </div>
      <div class="col">
        <img src="https://stockbit.com/assets/template/logos-12.svg" />
      </div>
    </div>
  </div>
</section>
